<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="User Profile - Gym Workout Companion">
    <meta name="keywords" content="Gym, Profile, Workout, Fitness, Update">
    <title>Profile - Gym Workout Companion</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" th:src="@{/js/validation.js}" defer></script>
    <script th:src="@{/js/scripts.js}"></script>

</head>

<body class="profile">
<header>
    <h1>Gym Workout Companion</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/signup}">Sign Up</a></li>
            <li><a th:href="@{/login}">Log In</a></li>
            <li><a th:href="@{/workout-classes}">Workout Classes</a></li>
            <li><a th:href="@{/equipment-log}">Equipment Log</a></li>
            <li><a th:href="@{/profile}">Profile</a></li>
        </ul>
    </nav>
</header>

<main>
    <section>
        <br>
        <br>
        <br>
        <br>
        <form id="form" th:action="@{/profile/confirmation}" th:object="${user}" method="get">
            <h2>Update Your Profile</h2>
            <p id="error-message"></p>
            <div class="input-container">
                <label for="fullname-input">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                         fill="#5f6368">
                        <path
                                d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Z" />
                    </svg>
                </label>
                <input required type="text" id="fullname-input" name="fullname" placeholder="Full Name" value="John Doe">
            </div>

            <div class="input-container">
                <label for="email-input">
                    <span>@</span>
                </label>
                <input type="email" id="email-input" name="email" required placeholder="Enter your email"
                       value="john.doe@example.com">
            </div>

            <div class="input-container">
                <label for="password-input">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                         fill="#5f6368">
                        <path
                                d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm240-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z" />
                    </svg>
                </label>
                <input type="password" id="password-input" name="password" required
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                       title="Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character"
                       placeholder="Password (min 8 characters)">
            </div>

            <div class="input-container">
                <label for="repeat-password-input">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                         fill="#5f6368">
                        <path
                                d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm240-200q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80Z" />
                    </svg>
                </label>
                <input type="password" id="repeat-password-input" name="repeat-password" required
                       pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                       title="Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character"
                       placeholder="Repeat Password">
            </div>

            <button type="submit">Update Profile</button>

            <!-- Section for Upcoming Event -->
            <div id="upcoming-event">
                <h2>Upcoming Event</h2>
                <p id="event-info">Event starts in:</p>
                <div id="countdown"></div> <!-- Countdown timer will be displayed here -->
            </div>
        </form>
    </section>
</main>

<footer>
    <p>&copy; 2024 Gym Workout Companion</p>
</footer>
</body>

</html>